.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .field {
    flex: 50%;
    flex-direction: column;
    width: 50%;
    margin: 8px 0;

    .field-label {
      font-weight: 500;
      font-size: 1.2em;
    }
  }
}
