<h1>Portfolio list</h1>
<button  mat-raised-button [routerLink]="['/portfolio/add']">Dodaj portfolio</button>
<mat-table [dataSource]="portfoliosList" class="mat-elevation-z8 portfolio-tab">

    <ng-container matColumnDef="developerName">
      <th mat-header-cell *matHeaderCellDef>Imię</th>
      <td mat-cell *matCellDef="let element">{{ element.developerName}}</td>
    </ng-container>
  
    <ng-container matColumnDef="developerType">
      <th mat-header-cell *matHeaderCellDef>Stack</th>
      <td mat-cell *matCellDef="let element">{{ element.developerType }}</td>
    </ng-container>
  
    <ng-container matColumnDef="editView">
      <mat-header-cell  *matHeaderCellDef ></mat-header-cell>
      <mat-cell *matCellDef="let element" >
        <button mat-raised-button color="primary" [routerLink]="['/portfolio', element.id]">Wyświetl</button>
        <button mat-raised-button [routerLink]="['/portfolio', element.id,'edit']">Edytuj</button>  
        </mat-cell>
    </ng-container>
    
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </mat-table>