.outer-container {
  width: 100vw;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  .container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 20px;
    margin: 20px;

    border-radius: 20px;

    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;

    @media (min-width: 768px) {
      width: 66%;
    }
  }
}
